$places-blue: #4cacb2;
$footer-blue: #1ba5b3;
$places-grey: #a2a2a2;
$button-grey: #ebebec;
$card-grey: #f3f3f3;
$modal-curtain: #363636;

.preventClick {
    pointer-events: none;
}

.text-blue {
    color: $places-blue;
}

.text-grey {
    color: $places-grey;
}

.card-body {
    background-color: $card-grey;
    @extend .preventClick;
}

.bg-footer {
    background-color: $footer-blue;
}

.btn-grey {
    background-color: $button-grey;
}

.card-img-top {
    @extend .preventClick;
}

.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    border-bottom: 0 none;
}

.btn-close {
    background: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22white%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.3956%207.75734C16.7862%208.14786%2016.7862%208.78103%2016.3956%209.17155L13.4142%2012.153L16.0896%2014.8284C16.4802%2015.2189%2016.4802%2015.8521%2016.0896%2016.2426C15.6991%2016.6331%2015.0659%2016.6331%2014.6754%2016.2426L12%2013.5672L9.32458%2016.2426C8.93405%2016.6331%208.30089%2016.6331%207.91036%2016.2426C7.51984%2015.8521%207.51984%2015.2189%207.91036%2014.8284L10.5858%2012.153L7.60436%209.17155C7.21383%208.78103%207.21383%208.14786%207.60436%207.75734C7.99488%207.36681%208.62805%207.36681%209.01857%207.75734L12%2010.7388L14.9814%207.75734C15.372%207.36681%2016.0051%207.36681%2016.3956%207.75734Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4%201C2.34315%201%201%202.34315%201%204V20C1%2021.6569%202.34315%2023%204%2023H20C21.6569%2023%2023%2021.6569%2023%2020V4C23%202.34315%2021.6569%201%2020%201H4ZM20%203H4C3.44772%203%203%203.44772%203%204V20C3%2020.5523%203.44772%2021%204%2021H20C20.5523%2021%2021%2020.5523%2021%2020V4C21%203.44772%2020.5523%203%2020%203Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E')
}

#signup-btn:hover {
    background-color: whitesmoke;
}

#about-us {
    background-image: url(../img/about-map.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

@media(min-width: 768px) {
    .subtitle {
        padding-top: 0.5rem;
        margin-left: -1vw;
    }    
}

